*{
    margin: 0;
    padding: 0;
}

.navbar{
    margin: 0;
    padding: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
   height: 70px;
 /* position: fixed; */
 top: 0;
 z-index: 1000;
}


.btn1{
    background-color: rgb(10, 104, 199);
    color: white;
    border-style: none;
    border-radius: 5px;
    height: 50px;
    width: 90px;
    margin-left: 20px;
    margin-bottom: 3px;
}

.btn1:hover{
    cursor: pointer;
    background-color: rgb(14, 73, 149);
    color: white;
}

.logo_text{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing:auto;
    font-style: normal;
}

.img_container{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.background_img {
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-overlay-div {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-text{
   font-size: 50px;
}

.Email_placeholder{
    margin-top: 10px;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    width: 300px;
}

.Email_placeholder::placeholder{
    padding-left: 15px;
}

.white-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: #f8f9fa;
    
}

.feature_box{
display: flex;
flex-direction: column;
}

.feature-text{
padding-left: 30px;
width: 100%;
text-align: center;
}

p{
    font-weight: lighter;
    font-size: 20px;
}

.row .test{
   background-color: white;
   height: 100%;
}

.iphone-img{
    height: 500px;
    width: 625px;
}

.row1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.row2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-text-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-img{
    height: 500px;
    width: 655px;
    margin-left: -15px;
    
}

.row3{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lap-img{
    height: 500px;
    width: 625px;
}


.container1{
    text-align: center;
    background-color: #f8f9fa;
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 0;

}

.testmonial-div{
    display: flex;
    align-items: center;
    justify-content: center;
}


.testmonial-picture{
    height: 250px;
    width: 250px;
}

.testmonial-contents{
    padding-left: 60px;
    padding-right: 60px;
}


.footer-section{
    height: 100%;
    width: 100%;
    position:relative;
    text-align: center;
    color: white;
}

.footer-section-img{
    height: 300px;
}


.row4{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: #f8f9fa;
}

.navigators{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

li{
    padding-left: 10px;
    padding-right:10px ;
    text-decoration: underline;
    color: #0d6efd;
}

.social-icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
}

.copyright-text{
    font-size: 15px;
    margin-left: 10px;
    padding-top: 5px;
    font-weight: 400;
    color: gray;
}